/* Global =================================== */

:root {
  /*root referencia a tag html*/

  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
  --blue-light: #dbe6fd;
  --blue: #47597e;
  --blue-medium: #293b5f;
  --blue-dark: #162035;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
  /* 15px */
}

body {
  background: var(--blue-light);
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);

  margin: auto;
}

/* Titles =================================== */

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--blue-dark);
  font-weight: normal;
}

/* Links & Buttons ========================== */

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--light-green);
}

button {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background: var(--green);
  padding: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background: var(--light-green);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.button.cancel {
  background: var(--red);
  color: white;
  border: 2px var(--red) solid;
  border-radius: 0.25rem;
  height: 50px;
  opacity: 0.6;
  /*Alinhar ao meio*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.cancel:hover {
  opacity: 1;
}

/* Header =================================== */

header {
  background: var(--blue);
  padding: 2rem 0 10rem;
  text-align: center;
}

span.app {
  color: var(--blue-light);
}

#logo {
  color: var(--blue-light);

  font-family: 'Sarabun', sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo i {
  font-size: 3rem;
  margin-right: 1rem;
  transform: translateY(8%);
}

/* Balance =================================== */

#balance {
  margin-top: -5.5rem;
}

#balance h2 {
  color: white;
  margin-top: 0;
}

/* Cards =================================== */

.card {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--blue-dark);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  background: var(--green);
  color: white;
}

.card.total.negative {
  background: var(--red);
  color: white;
}

/* Table =================================== */

#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  /*Esse seletor pega o primeiro filho que está dentro do thead*/
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  /*Esse seletor pega o ultimo filho que está dentro do thead*/
  border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
  background: white;
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table tbody td {
  background: white;
  padding: 1rem 2rem;
}

td.description {
  color: var(--blue-dark);
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}

/* modal ==================================== */

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 998;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--blue-light);
  padding: 2.4rem;
  position: relative;
  z-index: 1;
  border-radius: 0.05rem;
}

/* Modal error ===================================== */
.modal-error {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-error.show {
  opacity: 1;
  visibility: visible;
}

.error-message {
  width: 254px;
  height: 127px;
  background-color: var(--blue-dark);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding-top: 0;
  z-index: 999;
  border: 2px solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.modal-error.show .error-message h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--blue-light);
  font: 1rem;
}

.icon-x {
  color: var(--blue-light);
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
}

/* Form ===================================== */

#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  background: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
  box-sizing: border-box;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

input.error {
  border: 0.036rem solid var(--red);
  background: white;
}

/* Footer =================================== */

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--blue-dark);
  opacity: 0.6;
}

/* Dark mode ================================= */
#toggle {
  position: absolute;
  top: 6rem;
  right: 50%;
  transform: translateX(50%);
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: var(--blue-light);
  float: right;
  border-radius: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

label::after {
  content: '';
  position: absolute;
  top: 2.75px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--blue-dark);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--blue-medium);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background-color: var(--blue-light);
}

label:active:after {
  width: 50px;
}

/* Responsive ================================ */

@media (min-width: 800px) {
  /* o min signfica: a partir de 800px aplique essas configuraçoes, de 800 pra baixo vc usa o normal*/
  html {
    font-size: 87.5%;
  }
  #balance {
    /* display grid é muito bom para alinhar, como coloquei uma fraçao pra cada um, eles vao ficar iguais, mas pode variar colocar 2fr 1fr e fr por exemplo*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .error-message {
    width: 254px;
    height: 127px;
  }
}

@media (min-width: 500px) {
  #toggle {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
}
