@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

html {
  --background: #eceff7;
  --white: #ffffff;
  --light-blue: #1a928b;
  --gray: #4f5366;
  --dark-blue: #103659;
  --green: #91d5be;
  --red: #f29ca5;
}

html.dark-mode {
  --background: #212121;
  --white: #363636;
  --light-blue: #1a928b;
  --gray: #ffffff;
  --dark-blue: #68f8f0;
  --green: #01b686;
  --red: #e11335;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

header {
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0.8rem 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
}

header #logo {
  color: var(--light-blue);
  font-size: 1.5rem;
  font-weight: bold;
}

#logo span {
  color: var(--dark-blue);
  font-size: 2rem;
}

.container {
  /* padding-left: 2rem;
  padding-right: 2rem; */
  width: min(90vw, 900px);
  margin: auto;
}

/* Toggle Dark mode ================================= */

#toggle {
  margin-top: 0.5rem;
}
#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

#label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: var(--background);
  border: 1px solid var(--gray);
  float: right;
  border-radius: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#label::after {
  content: '';
  position: absolute;

  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--dark-blue);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + #label {
  background-color: var(--background);
}

input:checked + #label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background-color: var(--dark-blue);
}

#label:active:after {
  width: 50px;
}

/*Balance ====================*/

#balance {
  align-items: center;
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
}

.card {
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;

  width: max(50%, 300px);
  color: var(--gray);
}

.card h3 {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--dark-blue);
}

.card.graphic h3 {
  margin-bottom: 1rem;
}

.card.total {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card.total p {
  font-size: 1rem;
}

.icon-arrow-up-circle {
  color: var(--green);
}
.icon-arrow-down-circle {
  color: var(--red);
}

#totalDisplay {
  font-size: 3rem;
}

#totalDisplay,
#incomeDisplay,
#expenseDisplay {
  font-weight: 500;
}

.income-expense-display {
  display: flex;
  justify-content: space-around;
}

.income-expense-display h6 {
  font-weight: normal;
  text-align: left;
  font-size: 1.2rem;
}

/* Chart ======================*/
canvas {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 0;
}

/* Buttons home page ============*/
#buttons-homepage a {
  color: var(--gray);
}

#buttons-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.button-new,
.button-delete {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
}

.button-new {
  background-color: var(--green);
}
.button-delete {
  background-color: var(--red);
}

/*Table ====================*/
#transaction {
  min-width: 300px;
  display: block;
  width: 100%;
  overflow-x: auto;
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

#transaction h3 {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--dark-blue);
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
}

table thead th {
  background: var(--white);
  font-weight: normal;
  padding: 0.5rem 2rem;
  text-align: left;
  font-weight: lighter;
  color: var(--gray);
}

table tbody td {
  background: var(--white);
  padding: 1rem 2rem;
  color: var(--gray);
}

td.income {
  color: var(--green);
}

td.expense {
  color: var(--red);
}

.icon-minus-circle {
  color: var(--red);
  font-size: 1.5rem;
  cursor: pointer;
}

.category {
  text-align: center;
}

/*Modal form=================================*/

.modal-form-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  z-index: 998;
}

.modal-form-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--background);
  padding: 1.5rem 2rem 2rem 2rem;
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  width: 400px;
}

/*Form ===================================*/

#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;

  color: var(--dark-blue);
}

.type-transaction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--background);
}

.type-transaction label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.type-transaction label input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.type-transaction i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  line-height: 40px;
  text-align: center;
  margin: 4px 4px;
  color: var(--gray);
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.1);
}

.type-transaction .icon-arrow-down-circle {
  background: var(--red);
}

.type-transaction .icon-arrow-up-circle {
  background: var(--green);
}

.type-transaction i:hover {
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.08), 2px 2px 6px rgba(0, 0, 0, 0.08),
    inset -2px -2px 1px rgba(0, 0, 0, 0.08),
    inset 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.type-transaction label input:checked ~ i {
  color: var(--gray);
  box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 6px rgba(0, 0, 0, 0.6);
  /* text-shadow: 0 0 5px var(--gray), 0 0 16px var(--gray); */
}

.type-transaction label input:checked ~ p {
  border-bottom: 1px solid var(--gray);
}

.type-transaction label p {
  font-size: 0.8rem;
  color: var(--gray);
  border-bottom: 1px solid var(--background);
}

.input-group input,
select {
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--gray);
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  width: 48%;
  opacity: 0.9;
}

.input-group.actions .button:hover,
.input-group.actions button:hover {
  opacity: 1;
}

.input.error {
  border: 1px solid red;
}

.label-modal {
  font-size: 0.6rem;
  color: var(--gray);
}

.modal > p {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: -1.5rem;
  margin-top: 0.8rem;
  color: var(--gray);
  opacity: 0.5;
}

/* Buttons =====================*/

button {
  width: 100%;
  height: 50px;
  border: none;
  color: var(--gray);
  background: var(--green);
  padding: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

.button.cancel {
  background: var(--red);
  color: var(--gray);
  border: 2px var(--red) solid;
  border-radius: 0.25rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Modal error =========================*/

.modal-error-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 998;
}

.modal-error-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-error {
  background: var(--background);
  padding: 1.5rem 2rem 2rem 2rem;
  position: relative;
  z-index: 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--gray);
  text-align: center;
}

.modal-error button {
  background-color: var(--dark-blue);
  width: 50%;
  color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
}

.modal-error p {
  font-size: 0.8rem;
  margin-bottom: -1.5rem;
  margin-top: 0.8rem;
}

/*Modal delete all =========================*/
.modal-delete-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 998;
}

.modal-delete-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-delete {
  background: var(--background);
  padding: 1.5rem 2rem 2rem 2rem;
  position: relative;
  z-index: 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--gray);
  text-align: center;
}

.buttons-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.buttons-delete button {
  background-color: var(--dark-blue);
  color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
}

.modal-delete p {
  font-size: 0.8rem;
  margin-bottom: -1.5rem;
  margin-top: 0.8rem;
}
/*Footer ====================*/
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  opacity: 0.9;
  color: var(--gray);
}

.dev-informations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dev-informations a {
  text-decoration: none;
  color: var(--gray);
  transition: 0.3s;
}

.dev-informations a:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
}
/*Responsive ==========================*/

@media (min-width: 650px) {
  .modal {
    width: 500px;
  }
  .card {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .modal-error {
    width: 80%;
  }
}

@media (max-width: 650px) {
  :root {
    font-size: 14px;
  }

  #balance {
    display: flex;
    flex-direction: column;
  }

  table tbody td {
    background: var(--white);
    padding: 0rem 2rem 0rem 2rem;
    color: var(--gray);
  }

  #data-table {
    border-collapse: collapse;
  }

  table tbody td.income,
  table tbody td.expense {
    background: var(--white);
    padding: 2rem 0rem 2rem 1rem;
  }

  td.income {
    color: var(--green);
  }

  td.expense {
    color: var(--red);
  }

  .income-expense-display {
    justify-content: space-between;
  }

  .card.graphic {
    height: 200px;
  }
} ;
