@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?s2uhti');
  src: url('fonts/icomoon.eot?s2uhti#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s2uhti') format('truetype'),
    url('fonts/icomoon.woff?s2uhti') format('woff'),
    url('fonts/icomoon.svg?s2uhti#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clothing:before {
  content: '\e900';
}
.icon-transport:before {
  content: '\e901';
}
.icon-health:before {
  content: '\e902';
}
.icon-food:before {
  content: '\e903';
}
.icon-others:before {
  content: '\e904';
}
.icon-leisure:before {
  content: '\e905';
}
.icon-github:before {
  content: '\e906';
}
.icon-linkedin:before {
  content: '\e907';
}
.icon-house:before {
  content: '\e908';
}
.icon-x:before {
  content: '\e909';
}
.icon-minus-circle:before {
  content: '\e90a';
}
.icon-income:before {
  content: '\e90b';
}
.icon-arrow-down-circle:before {
  content: '\e90c';
}
.icon-arrow-up-circle:before {
  content: '\e90d';
}
.icon-trash-2:before {
  content: '\e90e';
}
.icon-plus:before {
  content: '\e90f';
}
